---
---

<header class="header">
	<nav class="header-inner">
		<div class="header__left">
			<ul class="sections link-container">
				<div class="logo link"><a href="/">Webpage Name</a></div>
			</ul>
		</div>
		<div class="header__right">
			<ul class="social-icons link-container">
				<li class="section link"><a href="/">Home</a></li>
				<li class="section link"><a href="/categories">Categories</a></li>
				<input type="text" placeholder="Search Here" />
			</ul>
		</div>
	</nav>
</header>
