---
---

<header class="header">
	<div class="header-inner">
		<div class="header__left">
			<ul class="sections link-container">
				<div class="logo">LOGO</div>
				<li class="section link">Section #1</li>
				<li class="section link">Section #2</li>
				<li class="section link">Section #3</li>
				<li class="section link">Section #4</li>
				<li class="section link">Section #5</li>
			</ul>
		</div>
		<div class="header__right">
			<ul class="social-icons link-container">
				<li class="icon link">Icon #1</li>
				<li class="icon link">Icon #2</li>
				<li class="icon link">Icon #3</li>
			</ul>
		</div>
	</div>
</header>
